:root{
    padding: 0;
    margin:0
}
html,body{
    min-height: 100vh;
    padding: 0;
    margin: 0;
}
.container{
    margin: 0 auto;
}
li{
    list-style: none;
}
/*================================
--------Header
=================================*/

.header_wrapper{
    display: flex;
    font-size: 32px;
}
.header_wrapper .header_title{
    flex-grow: 1;
}
.header_title .header_text{
    font-size: 1em;
    color: white
}
/*================================
--------Footer
=================================*/
.footer_wrapper{
    height: 200px;
    position: relative;
    bottom: 0;
    background-color: rgb(36, 33, 33);
    width: 100%;
    color: white;
}

/*================================
--------Featured
=================================*/
.featured_wrapper{
    height: 50vh;
    margin-bottom: 20px;
}

.featured_text{
    position: relative;
    top:-60%;
    letter-spacing: 2px;
    color:black;
    width: 700px;
    margin: 20px;
    color: whitesmoke;
}
.featured_text .top{
    font-family: "Righteous";
    font-size: 56px;
    background-color: black;
    width: fit-content;
    padding: 10px;

}
.featured_text .bottom{
    font-family: "Roboto";
    font-size: 27px;
    font-style: italic;
    width: fit-content;
    letter-spacing: 4px;
    text-shadow: 1px 1px 1px #000000;
}
.carousel_image{
    height: 50vh;
    width: 100%;
}
img{
    position: relative;
    width: 100%;
    height: auto;
    object-fit: contain;
    transform: translate(0px,-40%);
}
/*================================
--------Store
=================================*/
.store_wrapper{
    height: 500px;
    overflow: scroll;
    text-transform: uppercase;
}
